/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
	line-height: 1;
    font-family: 'Red Hat Mono', monospace;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 80px;
    font-weight: bold;
    margin: 20px 40px;
    text-align: center;
    color: #AD8B73;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    font-weight: bold;
    margin: 20px 40px;
    text-align: center;
    color: #f2ccadfa;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: #add1ca;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    

}
.nav-left {
    display: flex;
    align-items: center;
   
}
.nav-right {
    width: 80%;
    align-items: flex-end;
    
}
ul {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    list-style-type: none;
}


.nav-right a {
    text-decoration: none;
    color: #CEAB93;
    padding: 14px;
    font-size: 25px;
}

.nav-right a:hover {
    background-color: #72968f;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 

}

.nav-right a:active {
    color: #8e6851;
    
}


#header {
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;


}

#header p {
    margin-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 18px;
    

    
}

#header h1 {
    text-decoration: #CEAB93;
}

#duck {
    display: flex;
    justify-content: space-around;
    background-color: #92A9BD;
    align-items: center;
    align-content: space-between;
    
    

}
.text-duck {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;

    
}

.text-duck >* {
    padding: 30px 40px;

}

.button-duck {
    display: flex;
    justify-content: flex-end;
    background-color:#2c4758 ;
    color: rgb(240, 213, 181);
    font-size: 20px;
    padding: 15px 32px;
    border: none;
    border-radius: 80px;
    width: 30%;
    
}

.text-duck p {
    text-shadow: rgb(240, 213, 181) 1px 0 10px;
    color: #b18365;
    font-size: 20px;
    cursor: pointer;


}

.pic-duck {
    display: flex;
    height: 400px;
    width: 300px;
    padding-right: 10%;



}
#emergency {
    background-color: #D3DEDC;
    padding: 30px 30px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.grid-container >* {
    border: 2px solid #7C99AC;


}

#emergency a {
    text-decoration: none;
    font-size: 30px;
    color: #CEAB93;
}

#emergency a:hover {
    background-color: #b6ccc8;
    border-radius: 70px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 


}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1rw 1rw;
    margin: 0 auto;
    width: 80%;




}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}



footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #7C99AC;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
}
.create {
    margin-top: 30px;
    margin-bottom: 30px;
}
